body {
    background-color: dimgray;
    margin: 0;
}

.conteiner {
    background-color: aqua;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(
        auto-fit, minmax(200px, 1fr)
    );
    grid-template-rows: 150px 150px 150px 150px ;
    gap: 20px
} 

.conteiner div {
    background-color: blue;
    border: 3px solid black;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.conteiner div:first-child {
    background-color: white;
    border: 2px solid cadetblue;
    grid-column-start: span 2;
    grid-row-start: span 2;
}