body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        text-decoration: none;
}
.video-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}
.header {
  position: relative;
  color: black;
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-radius: 15px;
  max-width: 1100px;   /* ancho máximo del header */
  margin: 20px auto;      /* centra el header horizontalmente */
  width: 100%;         /* que use todo el ancho disponible hasta 1200px */
}
.menu ul{
  display: flex;
  
}
.menu li{
  margin-right: 80px;
  color: black;
  list-style: none;
}
.menu a {
  color: black;
  text-decoration: none;
  display: inline-block; /* NECESARIO para que funcione transform */
  transition: all 0.3s ease;
}
.menu a:hover {
  color: rgb(112, 112, 112);
  transform: scale(1.2); /* AGRANDA */
}
.menu li:nth-child(7) {
  background-color: gray;
  border: 2px solid gray;
  border-radius: 1px;
  padding: 0px;
}
.menu li:nth-child(7) {
  background: transparent;
  border: 2px solid gray;
}